body {
  font-family: monospace;
}

#node-table thead tr {
  font-weight: bold;
  background-color: #eee;
}

#node-table td {
  padding: 2px 15px;
}

#node-table .actions select {
  margin-right: 15px;
}

#logs {
  min-width: 1024px;
  min-height: 300px;
}
